* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-family: 'regular';
}

:root {
    --navbar-height: 80px;
}

@font-face {
    font-family: 'regular';
    src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'light';
    src: url(./assets/fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'bold';
    src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'light italic';
    src: url(./assets/fonts/roboto/Roboto-LightItalic.ttf);
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgb(251, 255, 195);
}

.navbar{
    position: absolute;
    height: var(--navbar-height);
    width: 100%;

    background-image: url(./assets/img/wood-2.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;

    height: var(--navbar-height);
    width: 100%;

    backdrop-filter: blur(2px);
}

.navbar-top{
    backdrop-filter: blur(2px);
    box-shadow: 2px;
}

.title{
    font-family: 'bold';
}

.navbar-bottom{
    display: flex;
    justify-content: flex-end;
    
    width: 100%;

    margin-right: 10px;
}

.name{
    backdrop-filter: blur(2px);
}

.name h2{
    font-family: 'light italic';
}

.content{
    position: absolute;
    top: var(--navbar-height);
    height: calc(100% - var(--navbar-height));
    width: 100%;
}